- var img = "https://storage.googleapis.com/mail-attachments"
- var subject = "Sadhguru in Singapore - Volunteering Information"
- var preview = "https://rawgit.com/ishacrm/emails/master/dist/sg/2017/sis-mmm-vol-info.html"
- function _(name) { return '{{{{raw}}}}{{' + name + '}}{{{{/raw}}}}'; }

mixin spacer
    include ../../../partials/spacer.html

mixin spacer-white
    include ../../../partials/spacer-white.html

mixin drop-shadow
    include ../../../partials/drop-shadow.html

mixin footer-sg
    include ../../../partials/footer-sg.pug

container
    +spacer
    row.collapse.no-vpad
        columns(large="2",small="4")
            wrapper.logo
                img(src=img+"/common/isha-logo.png",alt="")
        columns(large="10",small="8")
            wrapper.header
                p.heading.text-right Sadhguru in Singapore
                p.sub-heading.text-right Volunteering Information
    hr
    row: columns
        p.highlight
            | Dear !{_('FIRST_NAME')},
        p.
            It's wonderful to know that you will be volunteering for Meet, Mingle, and Meditate event.
            Once again, as mentioned on Friday, below are the timings for the event.

        p
            strong Timings #[br]
            ul
                li Sat, 21 Jan - 8am Guru Pooja till night
                li Sun, 22 Jan - 6.30am Guru Pooja till windup (around 11 pm)

            | Please be there at the venue before Guru Pooja!
            | We will have a brief volunteer meet on Saturday at the end of day to discuss Sunday activities.

    +drop-shadow

    row.section-header: columns.small
        | Venue Information
    row: columns.small
        p: strong Location: Singapore EXPO, Hall 1 #[br]
        strong How to reach the venue:
        ul.spaced-out
            li By MRT: Alight at EXPO MRT Station and take Exit A #[br]
               | Please note walk from MRT Stn till Hall 1 may take upto 15 minutes. So, we request you to plan your arrival at venue accordingly.
            li By Bus: 12, 24 and 38
            li Map: #[a(href="https://goo.gl/maps/E9MH7Z1f3Sz") Link]

        | Click #[a(href="http://singaporeexpo.com.sg/directions-&-accessibility-Overview.php") here] for
        | further information on directions to the venue.

    +drop-shadow

    row.section-header: columns.small
        | Guidelines amd Useful Information
    row: columns.small
        strong What to bring/wear:
        ul.spaced-out
            li We request you to not to wear T-Shirts, not even MMM T-shirts
            li This is like a celebration, so you can dress in smart casuals.


    +drop-shadow
    +spacer
    +footer-sg
    +spacer
