<row class="shadow collapse no-vpad"><columns>
    <p class="small text-center no-margin">
        Copyright &copy; 2017 Isha Indonesia
    </p>
</columns></row>

<row class="shadow collapse no-vpad footer">
    <columns>
        <p class="small text-center no-margin">
            <a href="mailto:indonesia@ishafoundation.org" target="_blank"> Contact us </a>
        </p>
    </columns>
</row>
<row class="shadow collapse no-vpad footer">
    <columns>
        <center>
            <menu>
                <item href="http://fb.com/Isha-Indonesia-1665780683697788">
                    <img src="{{img}}/common/icons/facebook.png" alt="Isha Indonesia on Facebook">
                </item>
                <item href="http://youtube.com/user/ishafoundation">
                    <img src="{{img}}/common/icons/youtube.png" alt="Isha Foundation on Youtube">
                </item>
            </menu>
        </center>
    </columns>
</row>