- var img = "https://storage.googleapis.com/mail-attachments"
- var subject = "Sadhguru in Singapore - Booking Information"
- var preview = "https://rawgit.com/ishacrm/emails/master/dist/sg/2016/sis-mmm-participant-eticket-info.html"
- function _(name) { return '{{{{raw}}}}{{' + name + '}}{{{{/raw}}}}'; }

mixin spacer
    include ../../../partials/spacer.html

mixin spacer-white
    include ../../../partials/spacer-white.html

mixin spacer-white-small
    include ../../../partials/spacer-white-small.html

mixin drop-shadow
    include ../../../partials/drop-shadow.html

mixin footer-sg
    include ../../../partials/footer-sg.pug

container
    +spacer
    row.collapse.no-vpad
        columns(large="2",small="4")
            wrapper.logo
                img(src=img+"/common/isha-logo.png",alt="")
        columns(large="10",small="8")
            wrapper.header
                p.heading.text-right Sadhguru in Singapore
                p.sub-heading.text-right Booking Information
    hr
    row: columns
        p.highlight Dear !{_('FIRST_NAME')},

        p
            | We would like to inform you that the e-ticket for your booking will be sent to you via email on
            strong  10th January.
            |  Please note that bookings cannot be transferred after e-Ticket is issued.
        p
            |  You need to bring a printout of the e-ticket and your
            strong  Photo ID (NRIC/Passport)
            |  to gain entry into the event.
        hr
        p.highlight
            strong Festive Offer closes on 10th Jan
        p.
            Please note that festive offer of 15% discount in select categories will close on 10th Jan.

    +drop-shadow

    +spacer-white-small

    row
        columns(large="4")
            img(src=img+"/sg/sis-2017/IEBook-WA-Updated-font_SIN-300px.jpg")
        columns(large="8")
            p.highlight: strong Inner Engineering: A Yogi's Guide to Joy
            p.small.
                Inner Engineering is a guide to self-empowerment that relies on the teaching and principles of
                classical yoga to help readers create an enduring foundation for inner stability and peace.
            p.small.
                Now available in Singapore: #[a(href="https://ishayoga.sg/ie-book") ishayoga.sg/ie-book]
    +drop-shadow

    row.collapse.no-vpad
        columns
            img(src=img+"/apac/whatsapp-sg.jpg")

    +drop-shadow
    +spacer
    +footer-sg
    +spacer
