- var img = "https://storage.googleapis.com/mail-attachments"
- var subject = "Sadhguru in Singapore - Thank You!"
- var preview = "https://rawgit.com/ishacrm/emails/master/dist/sg/2016/sis-mmm-buyer-coupon.html"
- function _(name) { return '{{{{raw}}}}{{{' + name + '}}}{{{{/raw}}}}'; }

mixin spacer
    include ../../../partials/spacer.html

mixin spacer-white
    include ../../../partials/spacer-white.html

mixin drop-shadow
    include ../../../partials/drop-shadow.html

mixin footer-sg
    include ../../../partials/footer-sg.pug

container
    +spacer
    row.collapse.no-vpad
        columns(large="2",small="4")
            wrapper.logo
                img(src=img+"/common/isha-logo.png",alt="")
        columns(large="10",small="8")
            wrapper.header
                p.heading.text-right Sadhguru in Singapore
                p.sub-heading.text-right Thank You!
    hr
    row: columns
        p.header.highlight
            | We are pleased to offer:
            br
            hr
            p
                | Codes:
                br
                | !{_('VAR1')}
            hr



    row: columns.small
            p.header.highlight Please Note:


    +drop-shadow
    +spacer
    +footer-sg
    +spacer
